<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [2]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [3]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) and click on **Get Free API Key**.
2.  Subscribe for Free plan and Sign-in with the Google Account.
3.  Once the account is created you will be redirected to [https://apilayer.com](https://apilayer.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) website.
4.  Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png"/>

3.  Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [4]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=3ae8a41ae8b314fe2c76abee00969ef2"  #Make sure to change ******* to your API key.
response = requests.get(url)
response.json()

{'success': True,
 'timestamp': 1668050854,
 'base': 'EUR',
 'date': '2022-11-10',
 'rates': {'AED': 3.681222,
  'AFN': 88.538902,
  'ALL': 116.449925,
  'AMD': 399.010488,
  'ANG': 1.794258,
  'AOA': 487.107889,
  'ARS': 160.397601,
  'AUD': 1.559267,
  'AWG': 1.794251,
  'AZN': 1.706483,
  'BAM': 1.953221,
  'BBD': 2.00475,
  'BDT': 101.920215,
  'BGN': 1.953221,
  'BHD': 0.376901,
  'BIF': 2066.605436,
  'BMD': 1.002375,
  'BND': 1.404,
  'BOB': 6.8594,
  'BRL': 5.159801,
  'BSD': 1.002375,
  'BTC': 6.1344711e-05,
  'BTN': 81.459216,
  'BWP': 13.253906,
  'BYN': 2.545803,
  'BYR': 19646.55,
  'BZD': 2.001362,
  'CAD': 1.356649,
  'CDF': 2052.260498,
  'CHF': 0.986111,
  'CLF': 0.032949,
  'CLP': 907.318404,
  'CNY': 7.258566,
  'COP': 4918.40534,
  'CRC': 616.424795,
  'CUC': 1.002375,
  'CUP': 26.562938,
  'CVE': 110.122884,
  'CZK': 24.273972,
  'DJF': 178.19287,
  'DKK': 7.428408,
  'DOP': 54.431674,
  'DZD': 140.96283,
  'EGP': 24.424919,
  'ERN': 15.035625,
  'ETB': 53.124516,
  'EUR': 1,
  'FJD': 2.28433,
  'FKP': 0.879753,
  'GBP': 0.879446,
  'GEL': 2.731144,
  'GGP': 0.879753,
  'GHS': 14.526105,
  'GIP': 0.879753,
  'GMD': 61.243853,
  'GNF': 8629.193444,
  'GTQ': 7.785268,
  'GYD': 207.352992,
  'HKD': 7.868498,
  'HNL': 24.731611,
  'HRK': 7.528291,
  'HTG': 129.211069,
  'HUF': 401.950667,
  'IDR': 15693.06287,
  'ILS': 3.562295,
  'IMP': 0.879753,
  'INR': 81.459216,
  'IQD': 1462.774862,
  'IRR': 42650.539051,
  'ISK': 146.698255,
  'JEP': 0.879753,
  'JMD': 152.553037,
  'JOD': 0.710628,
  'JPY': 146.515103,
  'KES': 122.032751,
  'KGS': 84.348499,
  'KHR': 4153.284352,
  'KMF': 491.311392,
  'KPW': 902.105414,
  'KRW': 1368.345037,
  'KWD': 0.310015,
  'KYD': 0.821919,
  'KZT': 467.679711,
  'LAK': 16849.244875,
  'LBP': 1511.081728,
  'LKR': 368.369034,
  'LRD': 154.141966,
  'LSL': 17.764786,
  'LTL': 2.959753,
  'LVL': 0.606327,
  'LYD': 4.995747,
  'MAD': 10.908085,
  'MDL': 19.179768,
  'MGA': 4304.511287,
  'MKD': 61.396406,
  'MMK': 2086.307833,
  'MNT': 3414.871634,
  'MOP': 8.103996,
  'MRO': 357.847703,
  'MUR': 43.863521,
  'MVR': 15.28664,
  'MWK': 1026.330634,
  'MXN': 19.597659,
  'MYR': 4.715644,
  'MZN': 64.028907,
  'NAD': 17.764786,
  'NGN': 441.332521,
  'NIO': 36.08258,
  'NOK': 10.40084,
  'NPR': 130.39584,
  'NZD': 1.705299,
  'OMR': 0.38591,
  'PAB': 1.002375,
  'PEN': 3.918129,
  'PGK': 3.517108,
  'PHP': 58.115144,
  'PKR': 222.186917,
  'PLN': 4.697332,
  'PYG': 7175.68303,
  'QAR': 3.648505,
  'RON': 4.891164,
  'RSD': 117.102592,
  'RUB': 61.569302,
  'RWF': 1063.67192,
  'SAR': 3.759137,
  'SBD': 8.249723,
  'SCR': 14.506104,
  'SDG': 569.824629,
  'SEK': 10.926825,
  'SGD': 1.404,
  'SHP': 0.879753,
  'SLE': 17.857099,
  'SLL': 17857.09856,
  'SOS': 569.86021,
  'SRD': 29.91889,
  'STD': 20747.138713,
  'SVC': 8.771004,
  'SYP': 2518.522492,
  'SZL': 17.764786,
  'THB': 36.861605,
  'TJS': 10.071893,
  'TMT': 3.506564,
  'TND': 3.205951,
  'TOP': 2.389224,
  'TRY': 18.640471,
  'TTD': 6.758134,
  'TWD': 31.889951,
  'TZS': 2337.727607,
  'UAH': 37.018758,
  'UGX': 3783.60957,
  'USD': 1.002375,
  'UYU': 40.133238,
  'UZS': 11197.655173,
  'VEF': 883401.203957,
  'VND': 24841.669005,
  'VUV': 121.844253,
  'WST': 2.797097,
  'XAF': 655.081856,
  'XAG': 0.047405,
  'XAU': 0.000586,
  'XCD': 2.707666,
  'XDR': 0.778047,
  'XOF': 655.081856,
  'XPF': 119.172536,
  'YER': 250.835435,
  'ZAR': 17.818918,
  'ZMK': 9022.577511,
  'ZMW': 16.363904,
  'ZWL': 322.764341}}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [5]:
# Turn the data into a dataframe
dataframe = pd.DataFrame(response.json())

In [6]:
# Drop unnescessary columns
dataframe.drop(columns=["success", "timestamp", "base", "date"], inplace=True)
dataframe

           rates
AED     3.681222
AFN    88.538902
ALL   116.449925
AMD   399.010488
ANG     1.794258
..           ...
YER   250.835435
ZAR    17.818918
ZMK  9022.577511
ZMW    16.363904
ZWL   322.764341

[169 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [7]:
# Save the Dataframe
dataframe.to_csv("exchange_rates_1.csv")

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                              |
| ----------------- | ------- | ----------------- | ----------------------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR                 |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab              |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).